<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Logout Page</title>
    <!-- <link rel="stylesheet" href="/public/css/main.css"> -->
</head>
<body>
    <main>
        <p>
          Thank you for accessing the site.
          Please click below to return to the home Page.
          If not, have a nice day.
        </p>
        <p>
          <a href="/">
            Click Le here to return to home Page
          </a>
        </p>            
    </main>
</body>
</html>
