<head>
    <meta charset="utf-8">
    <title>People Finder</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
	<h1>People Finder</h1>
	<main>
		<p>
      I've noticed you found youself in the people finder application made for the Web Programming Course. Come search through our databases for the personal information of various people! Cool!
		</p>
    <form action="/search" method="post">
      Start typing here to start searching.
			<label for="input">Input:</label>
			<input id="input" type="text" name="personName" placeholder="Input Here">
			<button type="Send">Send</button>
    </form>
	</main>
</body>
